* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf0d5;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.category-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.filter-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid;
  background-color: coral;
}

.card {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 4px;
}

.hide {
  display: none;
}
