* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf0d5;
}

.container {
  position: relative;
  width: 45rem;
  height: 25rem;
  margin: 0 auto;
  overflow: hidden;
}

.image-slider {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-container {
  padding: 0 5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.btn-slide {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dots-container .dots {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.dots-container .dots.active {
  background-color: black;
}
