* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf0d5;
}

.section {
  /* Size */
  /* or a specific width like 600px */
  max-width: 1200px; /* maximum width */
  margin: 0 auto; /* center the container */
  height: 100vh;

  /* Padding and Border */
  padding: 20px; /* space inside the container */

  /* Background */
  background-color: #f9f9f9; /* background color */

  /* Flexbox or Grid (optional) */
  display: flex; /* or display: grid; */
  flex-direction: column; /* stack children vertically */
  align-items: center; /* center children horizontally */
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

.container h1{
  font-size: 2rem;
}

.container input{
  padding: 8px 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 18px
}

.container button{
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 16px;
  background-color: rgb(181, 127, 232);
  color: whitesmoke;
  cursor:pointer  
}

.container button:hover{
  background-color: rgb(127, 89, 163);
}